<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculadora de IMC</title>
    <script th:src="@{/js/index.js}"></script>
</head>

<body>
    <h1>CALCULADORA IMC</h1>

    <form th:action="@{/calc}" method="post" th:object="${calc}" onsubmit=calculoOk()>
        Peso (Kg): <input type="number" required step="0.01" th:field="*{peso}"><br>
        Altura (m): <input type="number" required step="any" th:field="*{altura}"><br>
        <input type="submit" value="Calcular">
    </form>

    <div th:if="${res != null}">
        <h2>Seu IMC é: <span th:text="${#numbers.formatDecimal(res, 1, 2)}"></span></h2>
        <h3>Classificação: <span th:text="${classificacao}"></span></h3>
    </div>

    <a th:href="@{/}">Voltar</a>
</body>
</html>
